
@font-face {
	font-family: 'icomoon';
	src: url('icomoon.eot');
	src: url('icomoon.eot?#iefix') format('embedded-opentype'),
		 url('icomoon.woff') format('woff'),
		 url('icomoon.ttf') format('truetype'),
		 url('icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'museo-sans-300';
	src: url('museo-sans-300.eot');
	src: url('museo-sans-300.eot?#iefix') format('embedded-opentype'),
		 url('museo-sans-300.woff2') format('woff2'),
		 url('museo-sans-300.woff') format('woff'),
		 url('museo-sans-300.ttf') format('truetype'),
		 url('museo-sans-300.svg#museo_sans300') format('svg');
	font-weight: normal;
	font-style: normal;
}



/*
 * ANIMATION
 */

@-moz-keyframes pulse {
	0%   { box-shadow: inset #32afe5 0 0 20px, #32afe5 0 0 20px;     text-shadow: #32afe5 0 0 10px, #32afe5 0 0 20px;         }
	50%  { box-shadow: inset transparent 0 0 , transparent 0 0 20px; text-shadow: transparent 0 0 10px, transparent 0 0 20px; }
	100% { box-shadow: inset #32afe5 0 0 20px, #32afe5 0 0 20px;     text-shadow: #32afe5 0 0 10px, #32afe5 0 0 20px;         }
}

@-moz-keyframes pulse2 {
	0%   { text-shadow: #32afe5 0 0 10px, #32afe5 0 0 20px;         }
	50%  { text-shadow: transparent 0 0 10px, transparent 0 0 20px; }
	100% { text-shadow: #32afe5 0 0 10px, #32afe5 0 0 20px;         }
}

@-ms-keyframes pulse {
	0%   { box-shadow: inset #32afe5 0 0 20px, #32afe5 0 0 20px;     text-shadow: #32afe5 0 0 10px, #32afe5 0 0 20px;         }
	50%  { box-shadow: inset transparent 0 0 , transparent 0 0 20px; text-shadow: transparent 0 0 10px, transparent 0 0 20px; }
	100% { box-shadow: inset #32afe5 0 0 20px, #32afe5 0 0 20px;     text-shadow: #32afe5 0 0 10px, #32afe5 0 0 20px;         }
}

@-ms-keyframes pulse2 {
	0%   { text-shadow: #32afe5 0 0 10px, #32afe5 0 0 20px;         }
	50%  { text-shadow: transparent 0 0 10px, transparent 0 0 20px; }
	100% { text-shadow: #32afe5 0 0 10px, #32afe5 0 0 20px;         }
}

@-webkit-keyframes pulse {
	0%   { box-shadow: inset #32afe5 0 0 20px, #32afe5 0 0 20px;     text-shadow: #32afe5 0 0 10px, #32afe5 0 0 20px;         }
	50%  { box-shadow: inset transparent 0 0 , transparent 0 0 20px; text-shadow: transparent 0 0 10px, transparent 0 0 20px; }
	100% { box-shadow: inset #32afe5 0 0 20px, #32afe5 0 0 20px;     text-shadow: #32afe5 0 0 10px, #32afe5 0 0 20px;         }
}

@-webkit-keyframes pulse2 {
	0%   { text-shadow: #32afe5 0 0 10px, #32afe5 0 0 20px;         }
	50%  { text-shadow: transparent 0 0 10px, transparent 0 0 20px; }
	100% { text-shadow: #32afe5 0 0 10px, #32afe5 0 0 20px;         }
}

@keyframes pulse {
	0%   { box-shadow: inset #32afe5 0 0 20px, #32afe5 0 0 20px;     text-shadow: #32afe5 0 0 10px, #32afe5 0 0 20px;         }
	50%  { box-shadow: inset transparent 0 0 , transparent 0 0 20px; text-shadow: transparent 0 0 10px, transparent 0 0 20px; }
	100% { box-shadow: inset #32afe5 0 0 20px, #32afe5 0 0 20px;     text-shadow: #32afe5 0 0 10px, #32afe5 0 0 20px;         }
}

@keyframes pulse2 {
	0%   { text-shadow: #32afe5 0 0 10px, #32afe5 0 0 20px;         }
	50%  { text-shadow: transparent 0 0 10px, transparent 0 0 20px; }
	100% { text-shadow: #32afe5 0 0 10px, #32afe5 0 0 20px;         }
}



/*
 * DESIGN
 */

abbr {
	cursor: help;
	text-decoration: underline;
}

body {
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	background: #252530;
	overflow: hidden;
}


header {
	display: block;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: auto;
	left: 0px;
	padding: 16px;
	color: #efefef;
	text-align: center;
}


header h1 {
	margin: 0px;
	padding: 0px;
	font-family: 'museo-sans-300';
	font-size: 32px;
	font-weight: normal;
}

header h2 {
	margin: 16px auto;
	padding: 0px;
	font-family: 'museo-sans-300';
	font-size: 16px;
	font-weight: normal;
}

nav {
	display: block;
	position: fixed;
	top: 16px;
	right: 16px;
	bottom: auto;
	left: auto;
}

nav button {
	display: block;
	width: 128px;
	margin: 4px 0px;
	padding: 4px 8px;
	color: #b1b1b1;
	font-family: 'museo-sans-300';
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	vertical-align: top;
	background: transparent;
	border: 2px solid #b1b1b1;
	outline: none;
	cursor: pointer;
}

nav button:hover {
	color: #ffffff;
	border-color: #ffffff;
}

aside {
	display: block;
	position: absolute;
	top: 128px;
	right: 0px;
	bottom: 128px;
	left: 0px;
	perspective: 768px;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-webkit-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

aside.active {
	width: 33%;
	right: auto;
}

menu {
	display: block;
	position: absolute;
	width: 256px;
	height: 256px;
	top: 50%;
	right: auto;
	bottom: auto;
	left: 50%;
	margin: 0px;
	padding: 0px;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-webkit-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

aside.active > menu {
	width: 192px;
	height: auto;
	top: 50%;
	left: 50%;
}

menu li {
	display: block;
	position: absolute;
	margin: 0px;
	padding: 0px;
}

menu li.sub {
	font-size: 16px;
}

menu li a,
menu li span {
	display: block;
	width: 128px;
	height: 128px;
	line-height: 128px;
	color: #b1b1b1;
	list-style: none;
	font-family: 'museo-sans-300';
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: 2px solid #b1b1b1;
	border-radius: 128px;
	overflow: hidden;
	text-overflow: ellipsis;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-webkit-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}


aside.active > menu li a,
aside.active > menu li span {
	width: auto;
	height: 64px;
	line-height: 64px;
	font-size: 16px;
	border-radius: 0px;
}

aside.active > menu li {
	display: block;
	position: static;
	width: auto;
	height: 32px;
	margin: 16px 0px;
	line-height: 32px;
	transform: translate(0%, 0%);
}

aside.active > menu li a,
aside.active > menu li span {
	display: block;
	position: static;
	width: auto;
	height: 32px;
	line-height: 32px;
	transform: translate(0%, 0%);
}

nav button:before,
menu li a:before,
menu li span:before,
dialog p#modal-code span:before {
	margin: 0px 0.4em 0px 0px;
	font-family: 'icomoon';
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

dialog p#modal-code span:before {
	margin: 0px 0.4em;
}

menu li a:hover {
	color: #ffffff;
	border: 2px solid #ffffff;
}

menu li a.active {
	color: #32afe5;
	font-weight: bold;
	border: 2px solid #32afe5;
	-moz-animation: pulse 3000ms infinite;
	-ms-animation: pulse 3000ms infinite;
	-webkit-animation: pulse 3000ms infinite;
	animation: pulse 3000ms infinite;
}

menu li span,
menu li span:hover {
	color: #414141;
	border-color: #414141;
	cursor: not-allowed;
}

menu li:nth-child(1) { -moz-transform: translate(100%, 100%); -ms-transform: translate(100%, 100%); -webkit-transform: translate(100%, 100%); transform: translate(100%, 100%); }
menu li:nth-child(2) { -moz-transform: translate(  0%,   0%); -ms-transform: translate(  0%,   0%); -webkit-transform: translate(  0%,   0%); transform: translate(  0%,   0%); }
menu li:nth-child(3) { -moz-transform: translate(200%,   0%); -ms-transform: translate(200%,   0%); -webkit-transform: translate(200%,   0%); transform: translate(200%,   0%); }
menu li:nth-child(4) { -moz-transform: translate(  0%, 200%); -ms-transform: translate(  0%, 200%); -webkit-transform: translate(  0%, 200%); transform: translate(  0%, 200%); }
menu li:nth-child(5) { -moz-transform: translate(200%, 200%); -ms-transform: translate(200%, 200%); -webkit-transform: translate(200%, 200%); transform: translate(200%, 200%); }

nav button.ico-email:before      { content: "\e086"; }
nav button.ico-github:before     { content: "\e026"; }
nav button.ico-secret:before     { content: "\e00e"; }

menu li:nth-child(1) a:before    { content: "\e06a"; }
menu li:nth-child(2) a:before    { content: "\e034"; }
menu li:nth-child(3) a:before    { content: "\e08a"; }
menu li:nth-child(4) span:before { content: "\e04c"; }
menu li:nth-child(5) a:before    { content: "\e063"; }


dialog p#modal-code span.code-u:before { content: "\e078"; }
dialog p#modal-code span.code-r:before { content: "\e079"; }
dialog p#modal-code span.code-l:before { content: "\e07a"; }
dialog p#modal-code span.code-d:before { content: "\e07b"; }



main {
	display: block;
	position: absolute;
	top: 128px;
	right: 0px;
	bottom: 128px;
	left: 33%;
	border: 2px solid #b1b1b1;
	border-right: none;
	border-radius: 32px 0px 0px 32px;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-webkit-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	-moz-transform: translate(100%, 0%);
	-ms-transform: translate(100%, 0%);
	-webkit-transform: translate(100%, 0%);
	transform: translate(100%, 0%);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

main.active {
	-moz-transform: translate(0%, 0%);
	-ms-transform: translate(0%, 0%);
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
}


main section {
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

main section.active {
	display: block;
}


main section ul {
	display: block;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	white-space: nowrap;
}

main section ul li {
	display: inline-block;
	list-style: none;
}

main section ul li a {
	display: inline-block;
	width: auto;
	height: 48px;
	line-height: 48px;
	margin: 0px;
	padding: 0px 24px;
	color: #b1b1b1;
	font-family: 'museo-sans-300';
	font-size: 16px;
	font-weight: normal;
	border: 8px solid transparent;
	list-style: none;
	text-align: center;
	text-decoration: none;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-webkit-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

main section ul li a:hover {
	color: #ffffff;
	border-bottom: 8px solid #ffffff;
}

main section ul li a.active {
	color: #32afe5;
	font-weight: bold;
	border-bottom: 8px solid #32afe5;
	-moz-animation: pulse2 3000ms infinite;
	-ms-animation: pulse2 3000ms infinite;
	-webkit-animation: pulse2 3000ms infinite;
	animation: pulse2 3000ms infinite;
}

main section article {
	display: block;
	position: absolute;
	top: 64px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 32px;
	font-family: 'museo-sans-300';
	font-size: 16px;
	font-weight: normal;
	border: 0px solid transparent;
	border-top: 2px solid #b1b1b1;
	border-radius: 0px 0px 0px 32px;
	-moz-transform: translate(100%, 0%);
	-ms-transform: translate(100%, 0%);
	-webkit-transform: translate(100%, 0%);
	transform: translate(100%, 0%);
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-webkit-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
	overflow-y: scroll;
}

main section article.active {
	border-top: 2px solid #32afe5;
	-moz-transform: translate(0%, 0%);
	-ms-transform: translate(0%, 0%);
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
}


dialog {
	display: block;
	position: fixed;
	top: 0%;
	right: 0px;
	bottom: 0px;
	left: 0px;
	padding: 32px;
	color: #ffffff;
	font-family: 'museo-sans-300';
	font-size: 16px;
	font-weight: normal;
	border: 2px solid #b1b1b1;
	border-radius: 32px;
	background: #000000;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-webkit-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	-moz-transform: translate(0%, -4096px);
	-ms-transform: translate(0%, -4096px);
	-webkit-transform: translate(0%, -4096px);
	transform: translate(0%, -4096px);
}

dialog.active {
	border-color: #32afe5;
	-moz-animation: pulse 3000ms infinite;
	-ms-animation: pulse 3000ms infinite;
	-webkit-animation: pulse 3000ms infinite;
	animation: pulse 3000ms infinite;
	-moz-transform: translate(0%, 0%);
	-ms-transform: translate(0%, 0%);
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
}

dialog h3 {
	font-size: 24px;
}

dialog p {
	text-align: center;
}


article h3 {
	display: block;
	margin: 0px;
	padding: 0px;
	font-family: 'museo-sans-300';
	font-size: 24px;
	font-weight: bold;
}

article table {
	margin: 0px 0px 32px 0px;
	padding: 0px;
	width: 512px;
	border: 1px solid #b1b1b1;
}

article table th {
	width: 128px;
}

article table th,
article table td {
	padding: 8px;
	text-align: left;
}

article p {
	width: 512px;
	text-align: justify;
}


footer {
	display: block;
	position: fixed;
	top: auto;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 16px;
	color: #ffffff;
	font-family: 'museo-sans-300';
	font-size: 16px;
	text-align: center;
}

article a,
footer a {
	color: #32afe5;
	text-decoration: none;
}

article a:hover,
article a:focus,
footer a:hover,
footer a:focus {
	text-decoration: underline;
}


@media (max-height: 800px) {

	header.active {
		padding: 8px;
	}

	header.active h1 {
		font-size: 16px;
	}

	header.active h2 {
		margin: 8px auto;
		font-size: 12px;
	}

	nav {
		top: 0px;
		right: 0px;
	}

	nav button {
		display: inline-block;
		width: auto;
	}

	footer {
		display: none;
	}

	aside {
		top: 64px;
		bottom: 64px;
	}

	main {
		top: 64px;
		bottom: 64px;
	}

}

@media (max-width: 1280px) {

	aside.active > menu {
		width: 128px;
		left: 64px;
	}

	main {
		left: 136px;
	}

}

@media (max-width: 1024px) {

	main section ul li a {
		font-size: 12px;
		height: auto;
		padding: 0px 8px;
	}

}

